* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

.wrap {
  position: absolute;
  right: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(205, 236, 226);
}

.wrap main {
  display: flex;
  position: relative;
  right: 0%;
}

.wrap header {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 3rem 4rem;
}
.toggle {
  position: relative;
  width: 50px;
  height: 50px;
  background: url(´menu.png´);
}
.text {
  position: relative;
  margin: 6rem auto;
  max-width: 31.5%;
  padding-left: 3rem;
  padding-bottom: 4rem;
}

.vratsa {
  max-width: 25rem;
  max-width: 25rem;
}

.menu {
  position: relative;
  margin: 6rem auto;
  width: 31.5%;
  padding-left: 3rem;
  padding-bottom: 4rem;
}
