* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  list-style-type: none;
}

.container-logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1.5rem;
  background-color: rgb(205, 236, 226);
}
.menu {
  width: 3.5rem;
  border: solid black 5px;
}
.wrap {
  right: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(205, 236, 226);
  border: 5px solid red;
  flex-direction: column;
}
.text {
  /* width: 30rem;
  padding-left: 1rem; */
  border: 5px solid black;
}

.vratsa {
  max-width: 25rem;
  max-width: 25rem;
  border: solid purple 5px;
}
